@import 'node_modules/bootstrap/scss/variables';
// EAT colors

$green: #388A6B;
$teal:  #219678;

$primary: $teal;
$secondary: #707070;
$body-bg:                   $white ;
$body-color:                $gray-900 ;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);


$navbar-dark-color: rgba($secondary, 1) ;


$text-color-secondary: #707070;
$background-color: #F5F5F5;
$font-family-base: Lato,Helvetica,Arial,sans-serif;


$font-size-base: 1rem;
$font-size-lg: ($font-size-base * 1.35);
$font-size-sm: ($font-size-base * 1.1);
$font-size-xs: ($font-size-base / 1.1);


$input-btn-padding-y:         .400rem;
$input-btn-padding-x:         2rem;

$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               $input-btn-padding-x;


$border-radius:               1.5rem;

$btn-border-radius:        $border-radius;
