.modal-content
  background-color: lightgray !important
  border-radius: unset !important
  border-color: #219678 !important
  width: 80% !important

.modal-body
  margin-left: 13% !important
  width: 70% !important

.upload-demo
  margin-left: 32% !important

.ti-input
  border-radius: 0.25em !important
  border-color: #219678 !important

.form-control
  border-radius: unset !important
  border-color: #219678 !important

.form-group
  margin-bottom: 0.5rem !important

.custom-select
  border-radius: unset !important
  border-color: #219678 !important

.vue-tags-input
  max-width: 100% !important
  border-radius: unset !important
  border-color: #219678

.el-upload-dragger
  width: 210px !important
  height: 137px !important

.custom-select
  max-width: 100% !important
  border-radius: unset !important
  border-color: #219678 !important

.create_buttons
  float: right

.create_buttons .btn-secondary
  color: #219678
  background-color: transparent
  border-color: transparent

.create_buttons .a .btn-secondary
  color: white
  background-color: #219678 !important
  border-color: #219678 !important
