.section-module-wrapper, .question-accordion-wrapper, .lesson-interaction-wrapper
  box-shadow: 5px 5px 15px #7070706e
  border-radius: 5px
  .card
    border: 0
    .card-header
      background-color: transparent
      border: 0
  a
    color: rgba(128, 128, 128, 0.5)
    &:hover
      color: $primary

.lesson-interaction-wrapper
  .content-description
    color: $body-color
    text-decoration: unset


.answer-accordion-wrapper
  border: 1px solid rgba(0, 0, 0, 0.125)




